global
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    defaults
    log global

frontend k3s
    mode tcp
    bind :6443
    timeout client 1m
    timeout server 1m
    default_backend k3s_control_nodes

backend k3s_control_nodes
    balance roundrobin
    timeout client 1m
    timeout server 1m
    {% for k3s_node in groups['k3s_nodes'] %}
    {% if hostvars[k3s_node]['k3s_control_node'] == true %}
    server {{ hostvars[k3s_node]['inventory_hostname'] }} {{ hostvars[k3s_node]['inventory_hostname'] }}:6443 check verify none inter 5s downinter 5s fall 2
    {% endif %}
    {% endfor %}