[Interface]
Address = {{ wg_interface_address }}
{% if is_server is sameas true %}
ListenPort = {{ wg_listen_port }}
{% endif %}
PrivateKey = {{ wg_private_key }}
{% if interface_postup is defined and interface_postup != "" %}
PostUp = {{ interface_postup }}
{% endif %}
{% if interface_postdown is defined and interface_postdown != "" %}
PostDown = {{ interface_postdown }}
{% endif %}

{% for peer in peer_list %}
[Peer]
# Peer name: {{ peer["name"] }}
PublicKey = {{ peer["public_key"] }}
AllowedIPs = {{ peer["allowed_ips"] }}
{% if is_server is sameas false %}
Endpoint = peer["endpoint"]
{% endif %}

{% endfor %}